!! URxvt Appearance
URxvt.font: xft:SauceCodePro Nerd Font Mono:medium:pixelsize=14
!!URxvt.font: "-xos4-terminusicons2mono-medium-r-normal--12-120-72-72-m-60-iso8859-1"
!!st.font: Iosevka Term SS05:pixelsize=16
URxvt.transparent: true
URxvt.shading: 30
URxvt.cursorBlink: 1
URxvt*titleBar: false
URxvt*scrollBar: False
URxvt*scrollTtyOutput: False
URxvt*scrollTtyKeypress: True
URxvt*secondaryScroll: True
URxvt*saveLines: 8000
URxvt*letterSpace: -0.5

URxvt.geometry: 61x19

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1


! Fonts config
Xft.autohint: 0
Xft.lcdfilter: lcdlight
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96
.scripts/panel 
man lemonbar 
U+10B41 | lemonbar
print U+10B41 | lemonbar
printf U+10B41 | lemonbar
printf U+10B41 | lemonbar -p
echo  U+10B41 | lemonbar -p
utf8
man lemonbar 
utf-8
clear
sudo apt install unicode
clar
clear
history
history --help
history -a .Xresources 
